.mobileMenuWrapper {
  display: none;
  float: right;
  img {
    cursor: pointer;
  }
  .mobileMenu {
    background-color: #423356;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1s;
    visibility: visible;
    width: 100%;
  }
  .closed {
    visibility: hidden;
    left: 100%;
    transition: left 1s;
  }
}

@media (max-width: 600px) {
  .mobileMenuWrapper {
    display: block;
  }
}
