.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  .navBlock {
    flex-basis: 50%;
    svg {
      height: 40px;
      width: auto;
    }
  }
  .optionsMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .toggle{
      margin-left: 2em;
    }
  }
}

@media (max-width: 600px) {
  .navigation .optionsMenu {
    display: none;
  }
}
