.toggle {
  padding: 0 3em;
  .barFalse {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    .symbol {
      width: 26px;
      height: 26px;
      background-size: 100% 100%;
      transform-origin: center center;
      transform: translate(30px, 2px);
      transition: all 0.5s ease-out;
    }
  }
  .barTrue {
    transition: flex-direction 1s;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    .symbol {
      width: 26px;
      height: 26px;
      transform: translate(2px, 2px);
      background-size: 100% 100%;
      transition: all 0.5s ease-out;
      transform-origin: center center;
    }
  }
}

//Styles only for default toggle
.default {
  .barFalse {
    background: radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    border: 1px solid grey;
    .symbol {
      flex-basis: auto;
      background: radial-gradient(
        ellipse at top left,
        rgb(240, 187, 52),
        rgb(244, 27, 80),
        rgb(163, 63, 242)
      );
      border: 1px solid
        radial-gradient(
          ellipse at top left,
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0.2)
        );
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
      box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.1);
      width: 26px;
      height: 26px;
      border-radius: 15px;
      transform: translate(30px, 1px);
    }
  }
  .barTrue {
    background: radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    border: 1px solid grey;
    .symbol {
      flex-basis: auto;
      /*  background: radial-gradient(
        ellipse at top left,
        rgb(91, 197, 243),
        rgb(155, 133, 233),
        rgb(188, 116, 228)
      ); */
      background: radial-gradient(
        ellipse at top left,
        rgb(240, 187, 52),
        rgb(244, 27, 80),
        rgb(163, 63, 242)
      );
      /*   border: 1px solid
        radial-gradient(
          ellipse at top left,
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0.2)
        ); */
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
      box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.1);
      width: 26px;
      height: 26px;
      border-radius: 15px;
      transform: translate(1px, 1px);
    }
  }
}

//Styles only for mode toggle
.mode {
  .barFalse {
    /*  border: 2px solid orange; */
    /*   background: radial-gradient(
      ellipse at top left,
      rgba(lightblue, 0.9),
      rgba(skyblue, 0.9)
    ); */
    background-color: ghostwhite;
    .symbol {
      background-image: url("../../public/toggleComponents/toggleLight.png");
    }
  }
  .barTrue {
    /*  border: 2px solid gray; */
    /*  background: radial-gradient(
      ellipse at top left,
      rgba(navy, 0.9),
      rgba(royalblue, 0.9)
    ); */
    background-color: ghostwhite;
    .symbol {
      background-image: url("../../public/toggleComponents/toggleNight.png");
    }
  }
}

//Styles only for language toggle
.language {
  .barFalse {
    /*   border: 1px solid blue; */
    background-color: ghostwhite;
    .symbol {
      background-image: url("../../public/toggleComponents/toggleEnglish.png");
    }
  }
  .barTrue {
    /*   border: 1px solid red; */
    background-color: ghostwhite;
    .symbol {
      background-image: url("../../public/toggleComponents/toggleNorwegian.png");
    }
  }
}
